$primary-shadow: 0px 0.5px 2px #040711, 0px 0.5px 2px #040711,
  0px 0.5px 3px #040711;

$primary-shadow-inset: inset 0px 2px 4px rgba(0, 0, 0, 0.14),
  inset 0px 3px 4px rgba(4, 7, 17, 1), inset 0px 1px 5px rgba(4, 7, 17, 1);

$shadow-1dp: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(4, 7, 17, 1),
  0px 1px 3px rgba(4, 7, 17, 1);

$shadow-1dp-inset: inset 0px 0px 2px rgba(0, 0, 0, 0.14),
  inset 0px 2px 2px rgba(4, 7, 17, 1), inset 0px 1px 3px rgba(4, 7, 17, 1);
