@mixin horizontal-center-absolute {
  left: 50%;
  transform: translateX(-50%);
}

@mixin margin-top-bottom-none {
  margin: 0 auto;
}

@mixin centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centered-vertically {
  top: 50%;
  transform: translateY(-50%);
}

@mixin centered-horizontally {
  left: 50%;
  transform: translateX(-50%);
}
