$black-800: #101b28;
$black-900: #080c15;

$gray-600: #243644;

$green-200: #a8d5db;
$green-400: #789ca3;
$green-500: #607e9a;
$green-700: #437c95;
$green-800: #3d748b;

$turquoise-300: #4580b1;
$turquoise-600: #35618a;

$blue-400: #1e5b8a;
$blue-500: #2066d0;
$blue-600: #195d97;
$blue-700: #0f48aa;
$blue-900: #0a274a;

// colors for component portrait
$portrait-base: #0d1427;
$portrait-image-border: #111d2d;
$portrait-name: #56a2ba;
$portrait-background-inset: #346484;
$portrait-background: #1f3962;
$portrait-background-shadow: #0c192a;
