@mixin horizontal-center-absolute {
  left: 50%;
  transform: translateX(-50%);
}

@mixin margin-top-bottom-none {
  margin: 0 auto;
}

@mixin centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centered-vertically {
  top: 50%;
  transform: translateY(-50%);
}

@mixin centered-horizontally {
  left: 50%;
  transform: translateX(-50%);
}

@mixin octagon($start-point) {
  $end-point: 100% -$start-point;
  clip-path: polygon(
    $start-point 0,
    $end-point 0,
    100% $start-point,
    100% $end-point,
    $end-point 100%,
    $start-point 100%,
    0 $end-point,
    0 $start-point
  );
}
