$black-800: #131f2d;
$black-900: #10161e;

$gray-600: #243644;

$green-200: #a8d5db;
$green-400: #789ca3;
$green-500: #607e9a;
$green-700: #437c95;

$turquoise-300: #4580b1;
$turquoise-600: #35618a;

$blue-400: #1e5b8a;
$blue-500: #2066d0;
$blue-600: #195d97;
$blue-700: #0f48aa;
$blue-900: #0a274a;
