.header {
  &__navigation {
    &-primary,
    &-secondary {
      border-bottom: 1px solid $gray-600;
      box-shadow: $primary-shadow;

      &__nav-menu {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        height: 100%;
        width: 100%;
      }

      &__nav-menu__item {
        @include centered-content;
        height: 100%;

        &.is-selected,
        &:hover {
          cursor: pointer;
          position: relative;

          a {
            text-shadow: 0 0 5px $blue-700, 0 0 3px $blue-700;
            color: white;
            transition: 0.6s;
            z-index: 3;
          }
        }

        &__link {
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 20px;
        }
      }
    }

    &__nav-menu__item-selected {
      position: absolute;
      width: 200px;
      bottom: 0;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: linear-gradient(
          to right,
          rgba($turquoise-600, 0) 0%,
          rgba($turquoise-300, 1) 50%,
          rgba($turquoise-600, 0) 100%
        );
        position: absolute;
        z-index: 1;
      }

      &:after {
        content: "";
        display: block;
        top: 0;
        width: 190px;
        height: 50px;
        position: relative;
        background: $blue-500;
        border-radius: 50%;
        filter: blur(25px);
        transform: translateY(50px);

        z-index: 2;
      }
    }
  }
}
