.add-button {
  height: 55px;
  width: 50px;
  border-left: 1px solid $gray-600;
  border-right: 1px solid $gray-600;
  text-align: center;
  position: absolute;
  right: 110px;

  @include centered-content;

  i {
    color: $green-500;
  }

  &:hover {
    cursor: pointer;
  }
}
