.profile-picture {
  align-self: flex-end;
  margin: 20px 20px 0 0;
  position: absolute;
  width: 60px;
  height: 60px;
  box-shadow: 0px -10px 2px #040711, 0px 1px 2px #040711, 0px 1px 3px #040711;

  &__image,
  &__shadow,
  &__background-inset,
  &__background {
    position: absolute;
  }

  &__image {
    @include octagon(5%);

    width: 100%;
    height: 100%;
    z-index: 3;
  }

  &__shadow {
    @include octagon(5%);

    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background: $black-800;
    z-index: 2;
  }

  &__background-inset {
    @include octagon(5%);

    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    background: $blue-600;
    z-index: 1;
  }
  &__background {
    @include octagon(7%);

    width: calc(100% + 16px);
    height: calc(100% + 16px);
    top: -8px;
    left: -8px;
    background: $blue-900;
    z-index: 0;
  }

  &__background__line-left,
  &__background__line-right,
  &__background__line-top,
  &__background__line-bottom {
    @include octagon(5%);

    position: absolute;
    z-index: 1;
    background: $blue-400;
    box-shadow: $shadow-1dp;
  }

  &__background__line-left,
  &__background__line-right {
    @include centered-vertically;

    width: 2px;
    height: 40px;
  }

  &__background__line-top,
  &__background__line-bottom {
    @include centered-horizontally;

    height: 2px;
    width: 40px;
  }

  &__background__line-right {
    right: 0;
  }

  &__background__line-top {
    top: 0;
  }

  &__background__line-bottom {
    bottom: 0;
  }
}
