.portrait {
  width: 120px;
  height: 150px;
  position: relative;

  &__content {
    width: 106px;
    height: 136px;
    left: 1px;
    top: 1px;
    background: $portrait-base;
    position: absolute;
    z-index: 4;
    border: 2px solid $portrait-image-border;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @include octagon(2%);

    &__image {
      width: 100%;
      z-index: 4;

      &--wrapper {
        width: 100px;
        height: 100px;
        border: 2px solid $portrait-image-border;
        margin-top: 3px;
        overflow: hidden;
        z-index: 4;
      }
    }

    &__name {
      color: $portrait-name;
      font-size: 16px;
      font-size: 10px;
      font-weight: bold;
      margin-top: 2px;
      z-index: 4;
    }
  }

  &__background {
    &__shadow {
      background: $portrait-background-shadow;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      left: 1px;
      top: 1px;

      box-shadow: $primary-shadow;
      @include octagon(3%);

      position: absolute;
      z-index: 1;

      &--left,
      &--top,
      &--bottom,
      &--right {
        background-color: $portrait-background-shadow;
        @include octagon(9%);
        position: absolute;
        z-index: 1;
        width: 55px;
        height: 55px;
        filter: blur(1px);
      }

      &--left {
        left: -1px;
        top: 0;
      }
      &--top {
        top: 0;
        right: 0px;
      }
      &--bottom {
        bottom: -1px;
        left: -1px;
      }
      &--right {
        bottom: -1px;
        right: 0px;
      }
    }

    & {
      background: $portrait-background;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      left: 3px;
      top: 2px;

      @include octagon(5%);

      position: absolute;
      z-index: 2;

      &--left,
      &--top,
      &--bottom,
      &--right {
        background-color: $portrait-background;
        @include octagon(5%);
        position: absolute;
        z-index: 2;
        width: 50px;
        height: 50px;
      }

      &--left {
        left: 0;
        top: 0;
      }
      &--top {
        top: 0;
        right: 0;
      }
      &--bottom {
        bottom: -1px;
        left: 0;
      }
      &--right {
        bottom: 0;
        right: 0;
      }
    }

    &__inset {
      background: $portrait-background-inset;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      left: 3px;
      top: 4px;

      @include octagon(2%);

      position: absolute;
      z-index: 3;
    }
  }
}
