.home-page--wrapper {
  background-image: url("../images/protoss-starcraft-2-ladder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
